/* ===================================================================
   GALERIA DE FOTOS - LAYOUT GERAL
=================================================================== */
.galeria {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas no PC */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

div > h1 {
    padding: 30px;
    margin-top: 30px;
    background: linear-gradient(to right, #e06000, #c04000); /* preto → cinza */
    color: #c9a402;
    text-align: center;
}

/* ===================================================================
   BLOCO INDIVIDUAL DE CADA JOGADOR (foto + texto)
=================================================================== */
.imagem-container {
    background: #ffffff20;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    box-shadow: 02px 2px 2px 2px rgba(2, 2, 2, 2);
}

/* ===================================================================
   IMAGEM DO JOGADOR
   object-position: top -> Mantém o rosto visível
=================================================================== */

.imagem-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito de transição para as imagens */
}

.imagem-container img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}


/* ===================================================================
   TEXTO ABAIXO DA FOTO
=================================================================== */
.imagem-container div {
    margin-top: 8px;
    font-size: 14px;
    color: #000;
    line-height: 1.3;
}

/* ===================================================================
   RESPONSIVIDADE – CELULAR
=================================================================== */

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: 6fr; /* 1 foto por linha */
    }


    .imagem-container {
        max-width: 90%; /* ocupa quase toda a tela */
    }


    .imagem-container img {
        height: auto; /* A altura agora se adapta ao tamanho da tela */
    }


    .imagem-container div {
        font-size: 16px; /* Aumenta o tamanho da fonte nas telas menores */
    }
}
