@charset "UTF-8";

:root {
    --preto: #000000;
    --amarelo: #c9a402; /* Amarelo escuro */
    --cinza: #c9a402;
    --branco: #c9a402;
}

/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--cinza);
    color: var(--preto);
